.alturaImg {
    width: 100%;
    height: 485px;
     }
.styleImg {
  width: 100%;
    height: 485px;

}
.row {
 margin-right:15px;
}
     .box-shadow {
      -webkit-box-shadow: 0 8px 6px -6px #999;
      -moz-box-shadow: 0 8px 6px -6px #999;
      box-shadow: 0 8px 6px -6px #999;
  
     }
     .letrasPequenas {
      font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: rgb(63, 58, 58);
      
    }

     .nav14 {
        background-color:white;
        padding: 0px;
        list-style-type: none;
        margin-top: 50px;
        text-align: right;
        margin-right: 40px;
        font-family: Poppins;
    font-size: 16px;
    font-weight: bold;

  
    
    
      }
      
     .nav13 {
    
        display: inline;
        margin-right: auto;
        border: none;
        height: 100%;
        
      }
      
     .nav12 {
      color: blue;
      padding: 2px;
      text-decoration: none;
      justify-content: center;
      height: 100%;
    
      }
      


      .nav12:hover {
        background-color: white;
        color: #D7C8B6;
        height: 100%;
        border: 0px;
        padding: 0px;
        text-decoration: none;
        }
      
    
      .claseDeImagenes {
          height: 538px;
      }

.navigation-bar ul
{
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }

.tarjeta-style
{
  padding: 70px;
  display: inline-block;
  align-items: center;
}

footer {

 background-color: blue;
 background-size: 100px;
 width: 100%;
 height: 100px;

 margin: 0%;

}
